.pokedex{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.pokemon-header{
  display: flex;
}

.pokemon-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pokemon-details{
  text-align: center;
}

.sprite{
  max-width: 64px;
  height: auto;
}

.artwork{
  max-height: 150px;
  width: auto;
}

.type{
  display: flex;
  justify-content: center;
}

button{
  font-size: 1.5rem;
  border: none;
  background-color: rgba(0,0,0,0);
}

button:hover {
  color: goldenrod;
  text-decoration: underline;
}

.grass{
  background-color: green;
  color: white;
}

.fire{
  background-color: red;
  color: white;
}

.water{
  background-color: cyan;
  color: white;
}

.dragon{
  background-color: blue;
  color: white;
}

.electric{
    background-color: yellow;
    color: white;
}

.poison{
  background-color: purple;
  color: white;
}

.fighting{
  background-color: brown;
  color: white;
}

.rock{
  background-color: rgb(161, 130, 90);
  color: white;
}

.ground{
  background-color: burlywood;
  color: white;
}

.normal{
  background-color: rgb(160, 142, 118);
  color: white;
}

.ice{
  background-color: lightsteelblue;
  color: white;
}

.flying{
  background-color: lightskyblue;
  color: white;
}

.bug{
  background-color: lightgreen;
  color: white;
}

.psychic{
  background-color: pink;
  color: white;
}

.ghost{
  background-color: rgb(105, 9, 105);
  color: white;
}

.steel{
  background-color: gray;
  color: white;
}

.dark{
  background-color: black;
  color: white;
}

p{
  margin-top: 0;
}

.type>h3 {
  line-height: 8px;
  margin: 0;
  padding: 0.5rem;
  border-radius: 15px;
}